<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".WearDebugGpsInjectionReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="kr.sjh.runlini.wear.debug.GPS_SAMPLE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
